<div class="row">
  <div class="col-md-8">
    <h2><%= @idea.name %></h2>
    <p><%= @idea.description %></p>
    <% if current_user.id == @idea.user_id %>
      <div class="btn-actions">
        <%= btn_edit(edit_idea_path(@idea)) %>
        <%= btn_delete(@idea) %>
        <%= btn_back(ideas_path) %>
      </div>
    <% end %>
    <%= image_tag(@idea.picture_url, width: '100%') if @idea.picture.present? %>
  </div>

  <div class="col-md-4">
    <h3>Comments</h3>
    <div class="comments">
      <% @comments.each do |comment| %>
        <div class="comment">
          <strong class="comment-user"><%= comment.user_name %></strong>
          <%= comment.body %>
          <% if current_user.id == comment.user_id %>
            <div class="btn-actions">
              <%= btn_edit(edit_comment_path(comment)) %>
              <%= btn_delete(comment_path(comment)) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= render 'comments/form' %>
  </div>
</div>
